@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Bahnschrift, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100dvh;
  background: rgb(251,251,253);
  background: linear-gradient(90deg, rgba(251,251,253,1) 0%, rgba(173,216,230,1) 75%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}


